html {
  background-color: #324654;
}
body {
  background-color: white;
  width: 900px;
  margin: 0 auto;
  padding: 1em;
  font-size: 22px;
}
/*textarea {
  font-family: DejaVu Sans Mono, monospace;
}
#preview {
  margin-top: 1em;
  padding: 1em;
  background-color: #E3CBAC;
}*/
