body{
  height: 1200px;
  font-size: 18px;
  font-family: sans-serif;
  background-color: lightgrey
}
.navigation{
  display: flex;
}
a:link,
a:visited{
  color: #5D6063;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
.header{
  position: absolute;
  display: flex;
  justify-content: center;

  width: 100%;
  padding: 10px;
  background: #D6E9FE;
}
.menu{
  margin-top: 15px;
  justify-content: space-between;
}
.menu > li{
  display: inline;
  margin-right: 50px;
}
.menu > li:last-of-type{
  margin-right:0;
}
/*.container{
  justify-content: center;
}*/
.text-container{
  display: flex;
  flex-direction: column;
  position:relative;
  width: 80%;
  top: 100px;
  margin: 0 auto;
}
.text{
  display: flex;
  flex-direction: column;
  padding: 10px;
  /*position: absolute;
  top: 100px;*/
}
